<div class="container">
    <div class="row my-3">
        <form [formGroup]="dataForm" class="container" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="filmId">Film ID</label>
                        <input type="text" class="form-control" id="filmId" formControlName="filmId" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" formControlName="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" formControlName="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="releaseYear">Release Year</label>
                        <input type="text" class="form-control" id="releaseYear" formControlName="releaseYear" required>
                    </div>
                    <div class="form-group">
                        <label for="languageId">Language</label>
                        <select id="languageId" class="form-control" formControlName="languageId">
                            <option *ngFor="let languages of language" [value]="languages.languageId">{{
                                languages.languageId }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="originalLanguage">Original Language</label>
                        <input type="text" class="form-control" id="originalLanguage" formControlName="originalLanguage"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="rentalDuration">Rental Duration</label>
                        <input type="text" class="form-control" id="rentalDuration" formControlName="rentalDuration" required>
                    </div>
                    <div class="form-group">
                        <label for="rentalRate">Rental Rate</label>
                        <input type="text" class="form-control" id="rentalRate" formControlName="rentalRate" required>
                    </div>
                    <div class="form-group">
                        <label for="length">Length</label>
                        <input type="text" class="form-control" id="length" formControlName="length" required>
                    </div>
                    <div class="form-group">
                        <label for="replacementCost">Replacement Cost</label>
                        <input type="text" class="form-control" id="replacementCost" formControlName="replacementCost" required>
                    </div>
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <input type="text" class="form-control" id="rating" formControlName="rating" required>
                    </div>
                    <div class="form-group">
                        <label for="specialFeatures">Special Features</label>
                        <input type="text" class="form-control" id="specialFeatures" formControlName="specialFeatures" required>
                    </div>
                    <div class="form-group">
                        <label for="lastUpdate">Last Update</label>
                        <input type="text" class="form-control" id="lastUpdate" formControlName="lastUpdate" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>