<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-7" id="update-film">
            <form  #myForm="ngForm">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h2 class="text-center">Update Film</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label for="fTitle">Film Title</label>
                            <input type="text" class="form-control" id="fTitle" name="fkTitle" #myFilmTitle="ngModel"
                                [(ngModel)]="newFilm.title">
                                <button type="button" class="btn btn-success" [disabled]="myForm.invalid" (click)="updateFilmTitle()">Update Title</button>
                        </div>

                        <div class="form-group mb-3">
                            <label for="fDescription">Film Description</label>
                            <input type="text" class="form-control" id="fDescription" name="fkDescription" required
                                #myFilmDescription="ngModel" [(ngModel)]="newFilm.description">
                        </div>

                        <div class="form-group mb-3">
                            <label for="fYear">Release Year</label>
                            <input type="text" class="form-control" id="fYear" name="fkYear" required
                                #myFilmYear="ngModel" [(ngModel)]="newFilm.releaseYear">
                                <button type="button" class="btn btn-success" [disabled]="myForm.invalid" (click)="updateFilmReleaseYear()">Update Year</button>
                        </div>

                        <div class="form-group mb-3">
                            <label for="fLanguage">Language</label>
                            <select class="form-control" id="fLanguage" name="fkLanguage"
                                [(ngModel)]="newFilm.language.languageId">
                                <option *ngFor="let lang of language" value="{{lang.languageId}}">
                                    {{ lang.name }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="fOriginalLanguage">Original Language</label>
                            <select class="form-control" id="fOriginalLanguage" name="fkOriginalLanguage"
                                [(ngModel)]="newFilm.originalLanguage.languageId">
                                <option *ngFor="let lang of language" value="{{lang.languageId}}">
                                    {{ lang.name }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="frentalDuration">Rental Duration</label>
                            <input type="text" class="form-control" id="frentalDuration" name="fkrentalDuration"
                                #myFilmRentalDuration="ngModel" [(ngModel)]="newFilm.rentalDuration">

                                <button type="button" class="btn btn-success" [disabled]="myForm.invalid" (click)="updateFilmRentalDurtion()">Update Rental Duration</button>
                        </div>

                        <div class="form-group mb-3">
                            <label for="frentalRate">Rental Rate</label>
                            <input type="text" class="form-control" id="frentalRate" name="fkrentalRate"
                                #myFilmRentalRate="ngModel" [(ngModel)]="newFilm.rentalRate">

                                <button type="button" class="btn btn-success" [disabled]="myForm.invalid" (click)="updateFilmRentalRate()">Update Rental Rate</button>
                        </div>

                        <div class="form-group mb-3">
                            <label for="freplacementCost">Replacement Cost</label>
                            <input type="text" class="form-control" id="freplacementCost" name="fkreplacementCost"
                                #myFilmReplacementCost="ngModel" [(ngModel)]="newFilm.replacementCost">
                        </div>

                        <div class="form-group mb-3">
                            <label for="frating">Rating</label>
                            <input type="text" class="form-control" id="frating" name="fkrating" #myFilmRating="ngModel" [(ngModel)]="newFilm.rating">

                                <button type="button" class="btn btn-success" [disabled]="myForm.invalid" (click)="updateFilmRating()">Update Rating</button>
                        </div>

                        <div class="form-group mb-3">
                            <label for="fspFeature">Special Feature</label>
                            <input type="text" class="form-control" id="fspFeature" name="fkfspFeature"
                                #myFilmSpecialFeature="ngModel" [(ngModel)]="newFilm.specialFeatures">
                        </div>

                        <div class="form-group">
                            <label for="flength">Length</label>
                            <input type="text" class="form-control" id="flength" required name="fklength"
                                #myFilmLength="ngModel" [(ngModel)]="newFilm.length">
                        </div>
                    </div>
                    <div class="d-grid m-3">
                        <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>