<section id="customer-login" class="vh-50 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-5">
                <h2 class="fw-bold mb-2 text-uppercase text-white text-center">Customer Login</h2>
                <form [formGroup]="loginForm">
                    <div class="mb-3">
                        <label for="email" class="form-label text-white">Email</label>
                        <input type="email" class="form-control form-control-lg" id="email" formControlName="email"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white">Password</label>
                        <input type="password" class="form-control form-control-lg" id="password"
                            formControlName="password">
                    </div>
                    <div class="d-grid  mb-3">
                        <button type="submit" class="btn btn-success cursor-pointer" [disabled]="!loginForm.valid"
                            (click)="onSubmit()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>