#customer-login {
  background-image: url("https://www.shutterstock.com/image-vector/abstract-golden-light-rays-scene-600nw-2271597037.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
