<nav class="navbar sticky-top navbar-dark navbar-expand-lg" id="navBar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="path-to-your-logo.png" alt="Your Logo" height="60px" width="80px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item mx-2" *ngIf="isLoggedIn() && getRole()=='admin'">
                    <a class="nav-link active" routerLink="../header/films">Films</a>
                </li>

                <li class="nav-item mx-2" *ngIf="isLoggedIn() && getRole()=='customer'">
                    <a class="nav-link active" routerLink="../header/film-list">All Films</a>
                </li>

                <li class="nav-item mx-2" *ngIf="isLoggedIn()">
                    <a class="nav-link" routerLink="login">Logout</a>
                </li>

                <li class="nav-item mx-2" *ngIf="!isLoggedIn()">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>