<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{film.url}}"
                            class="img-fluid rounded-start p-3 m-2" alt="Film Poster">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">{{ film.title }}</h2>
                            <p class="card-text text-muted">{{ film.description }}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Release Year:</strong> {{ film.releaseYear }}</li>
                                <li class="list-group-item"><strong>Language:</strong> {{ film.language.name }}</li>
                                <li class="list-group-item"><strong>Original Language:</strong> {{
                                    film.originalLanguage.name }}</li>
                                <li class="list-group-item"><strong>Rental Duration:</strong> {{ film.rentalDuration }}
                                </li>
                                <li class="list-group-item"><strong>Rental Rate:</strong> {{ film.rentalRate }}</li>
                                <li class="list-group-item"><strong>Rating:</strong> {{ film.rating }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>