<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card mb-3" style="max-width: 50rem;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/71i8a-PnChL._AC_UF1000,1000_QL80_.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{film.title}}</h5>
                            <p class="card-text">{{film.description}}</p>
                            <p class="card-text">{{film.releaseYear}}</p>
                            <p class="card-text">{{film.releaseYear}}</p>
                            <p class="card-text">{{film.language.name}}</p>
                            <p class="card-text">{{film.originalLanguage.name}}</p>
                            <p class="card-text">{{film.rentalDuration}}</p>
                            <p class="card-text">{{film.rentalRate}}</p>
                            <p class="card-text">{{film.rating}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>