<form class="container" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <!-- <div class="form-group">
        <label for="customerId">customerId</label>
        <input type="text" class="form-control" id="customerId" name="customerId" ngModel value="Id generated after Payment">
    </div> -->
  <div class="form-group">
    <label for="lastName">lastName</label>
    <input type="text" class="form-control" id="lastName" name="lkastName" [(ngModel)]="newCustomer.lastName">
  </div>
  <div class="form-group">
    <label for="firstName">firstName</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="newCustomer.firstName">
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="newCustomer.email">
  </div>
  <div class="form-group">
    <label for="active">active</label>
    <input type="text" class="form-control" id="active" name="active" [(ngModel)]="newCustomer.active">
  </div>
  <!-- <div class="form-group">
        <label for="createDate">createDate</label>
        <input type="text" class="form-control" id="createDate" name="createDate" readonly>
    </div>  -->
  <div class="form-group">
    <label for="rentalId">rentalId</label>
    <select class="form-control" id="rentalId" name="rentalId" [(ngModel)]="newCustomer.rentalId">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <div class="form-group">
    <label for="addressId">addressId</label>
    <select class="form-control" id="addressId" name="addressId" [(ngModel)]="newCustomer.addressId">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>

  <div class="form-group">
    <label for="storeId">storeId</label>
    <select class="form-control" id="storeId" name="storeId" [(ngModel)]="newCustomer.storeId">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <!-- 
    <div class="form-group">
        <label for="lastUpdate">LastUpdate</label>
        <input type="text" class="form-control" id="lastUpdate" name="lastUpdate" readonly>
    </div> -->

  <button type="submit" class="btn btn-primary">Submit</button>
  <!-- <a href="customerpayment" type="submit" class="btn btn-primary">Submit</a> -->
</form>