#admin-login{
    background-image: url('https://www.shutterstock.com/image-vector/collection-film-strip-frame-isolated-260nw-1194562906.jpg');
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
}