<div class="container-fluid my-3">
    <div class="row justify-content-around" id="search-header">
        <div class="col-md-3 mb-3">
            <div class="input-group">
                <div id="search" class="mb-3">
                    <h6>Search By</h6>
                    <select id="select-search" [(ngModel)]="selectedSearchType">
                        <option value="title">Title</option>
                        <option value="year">Year</option>
                        <option value="category">Category</option>
                        <option value="language">Language</option>
                        <option value="rate">Rental rate</option>
                    </select>
                </div>

                <div class="input-group" *ngIf="selectedSearchType === 'title'">
                    <input class="form-control me-2" type="search" placeholder="Search by title.." [(ngModel)]="title">
                    <button class="btn btn-success" type="button" (click)="searchFilmByTitle()">Search</button>
                </div>

                <div class="input-group" *ngIf="selectedSearchType === 'year'">
                    <input class="form-control me-2" type="search" placeholder="Search by year..." [(ngModel)]="year">
                    <button class="btn btn-success" type="button" (click)="searchFilmByYear()">Search</button>
                </div>

                <div class="input-group" *ngIf="selectedSearchType === 'category'">
                    <input class="form-control me-2" type="search" placeholder="Search by category..." [(ngModel)]="category">
                    <button class="btn btn-success" type="button" (click)="searchFilmByCategory()">Search</button>
                </div>

                <div class="input-group" *ngIf="selectedSearchType === 'language'">
                    <input class="form-control me-2" type="search" placeholder="Search by language" [(ngModel)]="language">
                    <button class="btn btn-success" type="button" (click)="searchFilmByLanguage()">Search</button>
                </div>

                <div class="input-group" *ngIf="selectedSearchType === 'rate'">
                    <input class="form-control me-2" type="search" placeholder="Search by rate" [(ngModel)]="rate">
                    <button class="btn btn-success" type="button" (click)="searchFilmByRentalRateGreaterThan()">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" id="left-card-container">
            <h3 class="text-center mb-4">All Films</h3>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let film of films">
                    <div class="card h-100">
                        <img src="{{film.url}}"

                            class="card-img-top" height="100%" alt="Film Poster">
                        <div class="card-body">
                            <h5 class="card-title">{{film.title}}</h5>
                            <p class="card-text" id="desc">{{film.description}}</p>
                            <!-- <a routerLink="../{{film.filmId}}/film/details" class="btn btn-success btn-block">View Film</a> -->

                            <button type="button" class="btn btn-outline-info btn-sm"
                                    (click)="invokeView(film.filmId)">View Film</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <button type="button" class="btn btn-secondary btn-lg px-4" (click)="goBack()"
                style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                Back
            </button>
        </div>
    </div>
</div>