<div class="customerdetials">
    <div  class="container">
        <div class="card">
            <div class="card-body">
                <div>
                    
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="m-3 d-flex">
                        <input class="form-control me-2" aria-label="Search" placeholder="Enter lastName" type="text" id="status" name="lastName" [(ngModel)]="lastName">
                        <button type="button" (click)="getCustomerByLastName()" class="btn btn-success">Search</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="m-3 d-flex">
                        <input class="form-control me-2" aria-label="Search" placeholder="Enter firstName" type="text" id="status" name="firstName" [(ngModel)]="firstName">
                        <button type="button" (click)="getCustomerByFirstName()" class="btn btn-success">Search</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="m-3 d-flex">
                        <input class="form-control me-2" aria-label="Search" placeholder="Enter Email" type="text" id="status" name="email" [(ngModel)]="email">
                        <button type="button" (click)="getCustomerByEmail()" class="btn btn-success">Search</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="m-3 d-flex">
                        <input class="form-control me-2" aria-label="Search" placeholder="Enter Phone Number" type="text" id="status" name="phone" [(ngModel)]="phone">
                        <button type="button" (click)="getCustomerByPhone()" class="btn btn-success">Search</button>
                    </div>
                </div>

                <!-- <a routerLink="customer/add" class="btn btn-primary">Add Customer</a> -->
                  
    <table class="table talbe-striped">
        <thead >
            <th>CustomerID</th>
            <!-- <th>StoreID</th> -->
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <!-- <th>addressId</th> -->
            <th>Active</th>
            <th>create date</th>
            <th>LastUpdate</th>

        </thead>
        <tbody>
            
            <tr *ngFor = "let customer of customers">
                <td>{{customer.customerId}}</td>
                <!-- <td>{{customer.store.storeId}}</td> -->
                <td>{{customer.firstName}}</td>
                <td>{{customer.lastName}}</td>
                <td>{{customer.email}}</td>
                <!-- <td>{{customer.address.addressId}}</td> -->
                <td>{{customer.active}}</td>
                <td>{{customer.createDate}}</td>
                <td>{{customer.lastUpdate}}</td>
            </tr>
        </tbody>
    </table>
                
                </div>
                </div>
                </div>
                </div>



                <!-- <div class="container-fluid my-3">
                    <div class="row justify-content-around" id="search-header">
                        <div class="col-2">
                            <p>Search By FirstName</p>
                            <div class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search..." [(ngModel)]="firstName">
                                <button class="btn btn-success" type="button" (click)="getCustomerByFirstName()">Search</button>
                            </div>
                        </div>
                        <div class="col-2">
                            <p>Search By LastName</p>
                            <div class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search..." [(ngModel)]="lastName">
                                <button class="btn btn-success" type="submit" (click)="getCustomerByLastName()">Search</button>
                            </div>
                        </div>
                        <div class="col-2">
                            <p>Search By Email</p>
                            <div class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search..." [(ngModel)]="email">
                                <button class="btn btn-success" type="submit" (click)="getCustomerByEmail()">Search</button>
                            </div>
                        </div>
                        <div class="col-2">
                            <p>Search By PhoneNumber</p>
                            <div class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search..." [(ngModel)]="phone">
                                <button class="btn btn-success" type="submit" (click)="getCustomerByPhone()">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table talbe-striped">
                        <thead >
                            <th>CustomerID</th>
                            <th>StoreID</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>addressId</th>
                            <th>Active</th>
                            <th>create date</th>
                            <th>LastUpdate</th>
                
                        </thead>
                        <tbody>
                            
                            <tr *ngFor = "let customer of customers">
                                <td>{{customer.customerId}}</td>
                                <td>{{customer.store.storeId}}</td>
                                <td>{{customer.firstName}}</td>
                                <td>{{customer.lastName}}</td>
                                <td>{{customer.email}}</td>
                                <td>{{customer.address.addressId}}</td>
                                <td>{{customer.active}}</td>
                                <td>{{customer.createDate}}</td>
                                <td>{{customer.lastUpdate}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div> -->